<div
    class="bg-dark_1 w-80 h-full py-24 flex flex-col items-center justify-between rounded-3xl">
    <div class="flex flex-col items-center justify-center gap-4">
        <h1 class="text-center text-primary font-bold">
            <span class="font-light">LOUIS</span>
            <br />Georget
        </h1>
        <hr class="bg-white w-28" />
        <p class="text-sm tracking-wider">Développeur • Graphiste</p>
    </div>

    <div class="flex flex-col w-full items-center justify-center gap-10">
        <app-nav-link *ngFor="let link of links" class="w-2/3"
            [routerLink]="link.url"
            [title]="link.title"
            [icon]="link.icon"
            [isActive]="link.isActive"></app-nav-link>
    </div>
</div>