<div class="flex w-full">
    <h4 class="font-bold mt-1 w-1/12">Tags :</h4>

    <div id="scroll-container" class="flex gap-4 w-11/12 overflow-hidden">
        <app-project-tag *ngFor="let tag of selectedTags" [name]="tag"
            [isActive]="true"
            (emitActiveState)="changeTagActiveState(tag, $event)">
        </app-project-tag>

        <app-project-tag *ngFor="let tag of tags" [name]="tag"
            (emitActiveState)="changeTagActiveState(tag, $event)">
        </app-project-tag>
    </div>
</div>