@import '../../../../styles.scss';

h1 {
    font-family: $title-font;
}

.link-img {
    letter-spacing: 0;
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;

    img {
        transition: transform 3s;
        transform: scale(1.2);
    }

    &:hover {
        letter-spacing: 8px;

        img {
            transform: scale(1.4);
        }
    }
}