<div class="flex p-14 justify-between w-screen h-screen gap-10">

    <app-navbar></app-navbar>

    <div class="flex flex-col w-4/5 gap-5 relative">
        <app-project-tags
            [selectedTags]="selectedTags"
            (emitSelectedTags)="setTags($event)"></app-project-tags>

        <div id="gradient-top"></div>
        <div id="grid"
            class="grid w-full grid-cols-3 gap-5 pr-5 overflow-y-auto">
            <app-project-card *ngFor="let project of shownProjects"
                [selectedTags]="selectedTags"
                [project]="project"
                (emitSelectedTags)="setTags($event)"></app-project-card>
        </div>
    </div>

</div>